<div class="container">
   
    <div class="shop">
       
      <a href="" [routerLink]="['/ssetuplist']" routerLinkActive="active-link" >Shop </a>  <br> <br>
      
    </div>
    <div class="patner">
        <a href="" >Partner     </a><br> <br>
    </div>
    <div class="product">
        <a href="">Product </a> <br> <br>
    </div> 
    <div class="property">
        <a href="">Property  </a><br> <br>
    </div>
    <div class="luckydraw">
        <a href="">Lucky Draw Program</a>

    </div>

</div>
