a{
    
    background-color: rgb(211, 228, 244);
    padding: 10px 10px;
    margin:10px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(16, 10, 1);
    text-align: center;

}

.container{
   margin: 50px 20px;
   cursor: pointer;
 
}

