form{ 
    text-align: center;
    border: 2px;
}

h4{
    color: rgb(2, 2, 66);
    font-size: 20px;
    background-color: rgb(170, 169, 169);
}

label{
    width: 200px;
    text-align: left;
    color: black;
}
select{
    width: 200px;
}

button{
    margin: 10px;
}